@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}
:root {
    --accent-color: #00A4E5
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
.text-h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.30625px;
    color: #48555B;
}
/* header */
.header {
    background-image: url(../img/bg.png);
    text-align: center;
    color: #fff;
    max-width: 1440px;
    padding: 40px 0 72px;
    margin: 0 auto;
}
.header_logo {
    margin-bottom: 300px;
}
.header_h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 5.70937px;
    margin-left: 14px;
    margin-bottom: -5px;
}
.header_h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin-bottom: 223px;
}
.scroll_h3 {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 4px;
}
/* раздел: navbar*/
.navbar {
    padding: 24px 0 21px;
    border-bottom: 1px solid #E6E6E6;
}
.navbar__flex {
    display: flex;
    justify-content: space-between;
}
.navbar_logo {
    height: 18px;
}
.navbar_menu {
    margin-top: -3px;
    display: flex;
}
.burger {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}
.burger__line:last-child {
    margin-bottom: 0;
}
.burger_triger {
    display: none;
}
.navbar_menu-item {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.09091px;
    text-transform: uppercase;
    text-decoration: none;
    color: #48555B;
    margin-left: 38px;
}
.navbar_menu-item:hover {
    color: var(--accent-color);
    transition: 0.2s;
}
.navbar_menu_li {
    list-style: none;
}
/* Раздел: Our story */
.story {
padding: 7px 0;
}
.story_title_h2 {
    text-align: center;
    padding: 50px 0 54px;
}
.story_title_h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin: 10px auto 0;
}
.story_flex {
    display: flex;
    justify-content: space-between;
}
.story_left {
    max-width: 398px;
}
.story_title_h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.accent-color {
    color: var(--accent-color);
}
.story_text {
    color: rgb(72, 85, 91);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
}
.story_right {
    display: flex;
    align-items: flex-end;
}
.story-item {
    margin-top: 30px;
    margin-right: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    width: 140px;
    height: 224px;
}
.story-item:nth-child(1) {
    background-image: url(../img/Bitmap.png);
}
.story-item:nth-child(2) {
    background-image: url(../img/bitmap_2.png);
}
.story-item:nth-child(3) {
    background-image: url(../img/Bitmap_3.png);
    margin-right: 0;
}
.services {
    padding-top: 110px;
    padding-bottom: 118px;
}
.services__flex {
    display: flex;
    justify-content: space-between;
}
.services_h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 10px;
}
.services__flex_p {
    color: rgb(72, 85, 91);
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405px;
    margin-left: 120px;
    margin-top: 2px;
}
.services_btn {
    width: 150px;
    height: 40px;
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.services__grid {
    margin-top: 77px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.services__grid-item {
    border: 1px solid #E6E6E6;
    padding: 35px 20px;
}
.services_img {
    margin-bottom: 20px;
}
.services_h3 {
    color: rgb(72, 85, 91);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.43px;
    margin-bottom: 15px;
}
.services__grid_p {
    color: rgb(72, 85, 91);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
}
.get-in-touch {
    background-image: url(../img/get-in-tuch_bg.png);
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    height: 495px;
}
.get-in-touch_h2 {
    max-width: 350px;
    margin: 0 auto;
    color: rgb(72, 85, 91);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 30px;
}
.services_btn {
    letter-spacing: 0.15px;
}
.newsletter {
    background-color: rgb(23, 24, 25);
    padding: 35px 0;
}
.newsletter__flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter_h2 {
    margin-right: 70px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.85px;
}
.newsletter_input {
    width: 250px;
    height: 40px;
    border: none;
    padding: 16px;
    margin-left: 5px;
}
.services_btn {
    margin-left: -5px;
}
.footer {
    color: #fff;
    background-color: #141A20;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.footer__flex-company {
    max-width: 250px;
}
.footer-h4 {
    font-size: 11px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer_logo {
    margin-bottom: 16px;
}
.footer_p {
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
}
.footer__flex-links {
    display: flex;
}
.links_ul {
    margin-right: 30px;
}
.links_ul:last-child {
    margin-right: 0;
}
.links_ul2 {
    margin-top: 30px;
}
.links-item {
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    list-style: none;
}
.footer__flex-contact_us {
    max-width: 140px;
}
.footer_a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}
.socials_icon {
    margin-right: 25px;
    margin-top: 25px;
}
.copyright {
    background-color: #171819;
    text-align: center;
    padding: 22px;
}
@media screen and (max-width: 1280px){
    .container {
        padding: 0 50px;
    }
    .story_flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__flex {
        display: block;
        text-align: center;
    }
    .services_h2::after {
        margin: 10px auto 0;
    }
    .services__flex_p {
        
        margin: 0 auto;
    }
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .newsletter__flex {
        flex-wrap: wrap;
    }
    .footer__flex {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    .navbar_menu {
        display: none;
    }
    .burger_triger {
        display: block;
    }
    .newsletter_h2 {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .footer__flex-item {
        margin-top: 20px;
    }
    .footer__flex {
        padding: 20px 0;
    }
}
/*Меню*/
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.sidenav .collapsible,
.sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
    padding: 0;
}
.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
}
.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
    
}
.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}
.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}
.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.sidenav .collapsible {
    margin: 0;
}
.sidenav li {
    float: none;
    line-height: 48px;
}
.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}
.sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
}
.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
}
.sidenav li > a.btn-flat {
    color: #343434;
}
.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
}
.sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
}
.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
}
.sidenav .divider {
    margin: 8px 0 0 0;
}
.sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}
.sidenav .subheader:hover {
    background-color: transparent;
}
.sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}
.sidenav .user-view > a {
    height: auto;
    padding: 0;
}
.sidenav .user-view > a:hover {
    background-color: transparent;
}
.sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
}
.sidenav .user-view .circle {
    height: 64px;
    width: 64px;
}
.sidenav .user-view .name,
.sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
}
.sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
}
.sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
}
.sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}
.sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
}
@media only screen and (max-width: 992px) {
.sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
.sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
.sidenav > a {
    padding: 0 16px;
}
.sidenav .user-view {
    padding: 16px 16px 0;
}
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
background-color: #ee6e73;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
color: #fff;
}
.sidenav .collapsible-body {
padding: 0;
}
.sidenav-overlay {
position: fixed;
top: 0;
left: 0;
right: 0;
opacity: 0;
height: 120vh;
background-color: rgba(0, 0, 0, 0.5);
z-index: 997;
display: none;
}
.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}